<!doctype html>
<html lang="pt-br">

<head>
    <title>Detalhe Grupo - Meme Plus</title>
    <meta charset="utf-8" />
    <meta name="description" content="editar usuario">
    <meta name="keywords" content="Detalhe,grupo,Detalhe grupo,meme,plus,meme plus">
    <meta name="author" content="Henrique Samii">
    <link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../estilo/reset.css" />
    <link rel="stylesheet" href="../../estilo/estilo.css" />
    <script src="../../modernizr-custom.js"></script>
    <script src="../../dominio/Usuario.js"></script>
    <script src="../../dominio/Grupo.js"></script>
    <script src="../../dominio/Meme.js"></script>
    <script src="../../dominio/Comentario.js"></script>
    <script src="../../dominio/Avaliacao.js"></script>
    <script src="../../local_storage.js"></script>
    <script src="../../util.js"></script>
    <script src="../../controller/grupo/detalhe.js"></script>
</head>

<body>
    <div id="container">
        <header>
            <h1>Meme Pluse</h1>
        </header>
        <nav>
            <ul>
                <li><a href="../index.html">HOME</a> |</li>
                <li><a href="../usuarios.html">Usuarios</a> |</li>
                <li><a href="../grupos.html">Grupos</a></li>
                <li id="li_right">Usuario Logado: <select id="usuario_logado"></select></li>
            </ul>
        </nav>
        
        <form>
            <label>Titulo</label>
            <input type="text" id="titulo" required/>
            <label>Corpo</label>
            <input type="text" id="corpo" required/>
            <!--<label>Link Midia</label>
            <input type="text" id="midia" required/>-->
            <input type="button" value="Criar Meme" id="btn_salvar" />
        </form>
        <div id="nome_grupo"></div>
        <div id="criador_grupo"></div>
        <div id="memes"></div>

        <footer>
            <hr>
            <p>Copyright</p>
        </footer>
    </div>
</body>

</html>